* {
    box-sizing: border-box;
 }
 .w-100 {
     display: flex;
     flex-direction: row;
 }
 ul li {
     list-style: none;;
 }
 .box{
     background-color: gray;
     width: 400px;
     height: 300px;
 }
 #search {
     margin-bottom: 100px;
 }
 input {
     width: 100%;
     height: 60px;
     background-color: #E7E7E7;
     color: #1f1b1b;
     border: none;
     padding-left: 1%;
 }
 .search {
    position: relative;
 }
 i.fa-search{
     position: absolute;
     right: 130px;
     top: 145px;
     height: 40px;
     font-size: 30px;
 }
 
 .topnav {
     padding-top: 2.5%;
     padding-bottom: 10%;
 }
 .device {
     background-color: #6AD6A5;
     color: white;
     position: relative;
     top: 3px;
     border-radius: 5%;
 }
 
 .btn2{
     width: 160px;
     height: 60px;
     border: none;
     margin-right: 2%;
     color: white;
 }
 
 .fa-angle-down {
     font-size: 30px;
 }
 .fa-angle-up {
    font-size: 200px;
    position: relative;
    top: 0px;
    left: 0px;
}
 /*
 .card {
     height: 200px;
 }*/
 .card-title {
     display: inline-block;
     font-size: 16px;
 }
 
 .card-title2 {
     float: right;
 }
 .card-text {
     clear: both;
     font-size: 11px;
     font-weight: 700;
     text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
 }
 .card-text2{
    position: relative;
    left: 10px;
    font-size: 10px;
    font-weight: 700;
    clear: both;
    text-overflow: ellipsis;
    max-height: 89px;
    overflow: hidden;
 }
 .watch {
     float: right;
 }
 .card-body {
     background-color: #E7E7E7;
     display: inline-block;
 }
  .c1 {
      height: 150px;
      position: relative;
      top: 0px;
      left: 0px;
  }
  .row {
    --bs-gutter-x: 0rem !important;
    display: flex;
    flex-direction: row;
}
.list {
    list-style-type: none;
}
.container ul li {
    width: 30%;
    list-style: none;
}
#recipeSearch {
   cursor: pointer;  
}
#ingredientSearch {
    background-color:#0d6efd;
    color: white;
    position: relative;
    left: -201px;
    text-align: center;
}
#ingredientsSearch {
    background-color:#0d6efd;
    color: white;
    position: relative;
    height: 40px;
    left: -180px;
    top: -115px;
    text-align: center;
    display: inline;
    cursor: pointer;
}
#ingredientMain {
    display: flex;
}
#applianceMain {
    display: flex;
}
#ustenMain {
    display: flex;
}

#ingre-cancel {
    cursor: pointer;
}
#devicesSearch {
    background-color: #6AD6A5;
    color: white;
    position: relative;
    height: 40px;
    left: -70px;
    top: -140px;
    text-align: center;
    display: inline;
    cursor: pointer;
}
#deviceSearch {
    background-color: #6AD6A5;
    color: white;
    position: relative;
    left: 0px;
    text-align: center;
}
#ustenSearch {
    background-color: #bb2d3b;
    color: white;
    position: relative;
    left: 0px;
    text-align: center;
}
#ustensSearch {
    background-color: #bb2d3b;
    color: white;
    position: relative;
    height: 40px;
    left: 0px;
    top: -140px;
    text-align: center;
    display: inline;
    cursor: pointer;
}
#grid {
    display: flex;
}
#ingredients_search_dropdown {
    border-radius: 0%;
    color: white;
    background-color: #0d6efd;
}

#angle {
    padding-left: -5%;
}
.fa-angle-up.ingre {
    position: relative;
    color: white;
    top: -40px;
    left: -23px;
    width: 30px;
    height: 30px;
}
.fa-angle-up.device {
    position: relative;
    color: white;
    top: -100px;
    left: 160px;
    width: 30px;
    height: 30px;
    display: none;
}
.fa-angle-up.uste {
    position: relative;
    width: 30px;
    height: 30px;
    color: white;
    top: -100px;
    left: 200px;
    display: none;
}
.drop {
    width: 500px;
    height: 500px;
}

Select#ingredients_search_dropdown.btn.btn-primary.btn2::placeholder {
    color: white;
}
Select#ingredients_search_dropdown.btn.btn-primary.btn2{
    background-color: #0d6efd;
}
/*
Select#ingredients_search_dropdown.btn.btn-primary.btn2, Select#device_search_dropdown.btn.btn-primary.btn2,
Select#ustensils_search_dropdown.btn.btn-primary.btn2 {
    position: relative;
}
*/

#device_search_dropdown {
    background-color: #6AD6A5;
    position: relative;
    top: 0px;
}
#ustensils_search_dropdown {
    background-color: #dc3545;
    position: relative;
    left: 10px;
}
#ingredients_search_input {
    position: relative;
    top: 0px;
    width: 200px;
    left: -200px;
    display: none;
}
input#ingredients_search_input::placeholder{
 color: white;
}
input#device_search_input::placeholder{
    color: white;
   }
   input#ustensils_search_input::placeholder{
    color: white;
   }
input#device_search_input {
    position: relative;
    top: -60px;
    left: 8px;
    background-color: #6AD6A5;
    width: 180px;
    display: none;
}
input#ustensils_search_input {
    position: relative;
    top: -60px;
    left: 20px;
    display: none;
    width: 200px;
    background-color: #bb2d3b;
}
#ingreditentSearch {
    background-color: #0d6efd;
    color: #E7E7E7;
}
.logo {
    position: relative;
    left: 400px;
    padding-bottom: 1%;
}


